{% extends 'base.html.twig' %}
{% block body %}

<div class="container mt-4">
    {{ include('forms/form_chantier.html.twig', {title: 'Editer le chantier', button: 'Enregistrer'})}}
</div>

{% endblock %}