{% extends 'base.html.twig' %}
{% block body %}
    <div class="container mt-4">
        {{ include('forms/form_pointage.html.twig', {title: 'Editer le pointage', button: 'Enregistrer'})}}
    </div>
{% endblock %}